// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

.title {
  font-size: 48px;
  padding-right: 10%;
  font-weight: bold;

  @media only screen and (max-width: #{$global-breakpoint}) {
    font-size: 36px !important;
    padding-right: 0 !important;
  }
}

.brand {
  padding: 16px;
}

.footer {
  &__subtitle {
    font-size: 18px;
    color: $dark-gray;
  }
  &__link {
    font-weight: bold;
    color: $dark-gray;
    text-decoration: underline;
  }
}

.menu {
  margin: 10px 0 0 0;
  list-style: none;
  display: block;

  li {
    display: inline-block;

    a {
      padding: 8px 12px;
      display: block;
      font-size: 16px;
      color: $black;

      @media only screen and (min-width: #{$global-breakpoint}) {
        &.button {
          background-color: $primary-color;
          color: $white !important;
          border-radius: 20px;
        }
      }
    }
  }
}
